html, body {
    height:100%;
} 

body {
    background-color: white;
    background-image: url('universite_de_cambridge.jpg');
    margin-top:10%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

table{
    color:blue;
    font-size: medium;
    margin-top:10%;
}

form, label{
    margin-top: 10%;
    color: blue;
    font-size: medium;
}

#submit-button{
    margin-top: 5%;
    align-content: center;

}